
body{
    text-align: center;
    background-color: #02182B;
    font-family : Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: larger;
    font-weight: 900;
}

.square{
    height: 100px;
    width: 100px;
    background-color: #E09F3E;
    border: 1px solid grey;
    display: inline-block;
    border-radius: 10%;
}

.square:hover{
    background-color: #c53410;
    transition: background-color 0.3s;
}

.o{
    position: relative;
}

.o:after{
    position: absolute;
    content: '\2B55';
    font-size: 50px;
    line-height: 100px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.x{
    position: relative;
}

.x:after{
    position: absolute;
    content: '\274C';
    font-size: 50px;
    line-height: 100px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

button{
    margin-top: 45px;
    color: #FFFFFF;
    background-color: #c53410;
    font-size: larger;
    font-weight: 800;
    padding: 16px;
    border: transparent;
    border-radius: 15%;
    transition: background-color 300ms, padding 0.3s;
}

button:hover{
    background-color: #ea2719;
    padding: 30px;
}

p{
    border-radius: 10%;
    padding: 1px;
    margin-top: 25px;
    font-size: larger;
}
